@font-face {
  font-family: TitleCursive;
  src: url(./public/fonts/Babylonica-Regular.ttf);
}

@font-face {
  font-family: NormalText;
  src: url(./public/fonts/IMFellDWPica-Regular.ttf);
}

:root {
  --color-text: #FFFFF0;
  --header-font-size: 7rem;
  --text-font-size: 1.75rem;
}

html {
  font-size: 16px;
  color: var(--color-text);
}

body {
  background-image: url(./public/images/background.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

h1 {
  font-family: TitleCursive;
  font-size: var(--header-font-size);
  text-align: center;


}


#jb-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  gap: 5rem;
  padding-top: 0.25rem;
  padding-bottom: 2rem;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  gap: 8rem;
  min-height: 100vh;
}



/* Intro section id tag */
#intro-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 100%;

}

/* Flower / Vines SVG */
#flower-bunch-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: auto;
  object-fit: cover;
  z-index: -1;
}

#flower-bunch-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: auto;
  object-fit: cover;
  transform: scaleX(-1);
  z-index: -1;
}

#intro-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

#jb-logo {
  width: 30rem;
  height: auto;
  object-fit: cover;
  margin-bottom: 1rem;
}

#jb-title {
  width: 40rem;
}

#album-cover {
  position: absolute;
  bottom: 0;
  width: 110%;
  height: auto;
  object-fit: cover;
}


.button-style,
p,
span {
  font-family: NormalText;
  font-size: var(--text-font-size);
}

.button-style {
  position: relative;
  background-color: transparent;
  color: var(--color-text);
  border: none;

  cursor: pointer;

  padding: 1.5rem;
  transition: 1s;
  z-index: 0;
}

.button-style::before {
  content: '';
  position: absolute;


  left: 0;
  right: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  transform: translateY(-40%);
  background: url(./public/images/buttonBorder.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}




/* Class for the outline of each tour information */
.tour-info {
  font-size: var(--text-font-size);
  font-family: NormalText;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  width: 85%;
}

#tour-section {
  gap: 2rem;
}

#tour-section img {
  width: 50%;
  justify-self: center;
}


/* Header class for each section*/
.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: fit-content;
  width: 100%;
}

.section-header img {
  height: 10rem;
  width: auto;
}

.section-header img:nth-child(3) {
  transform: scaleX(-1);

}



#music-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

/* #prev-video-button>img {
  transform: scaleX(-1);
}
 */
#prev-video-button,
#next-video-button {
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 15rem;
  height: auto;
  transition: transform 0.3s ease-in-out;
  color: var(--color-text);

}

#prev-video-button {
  transform: scaleX(-1);
}

#prev-video-button:hover {
  cursor: pointer;
  transform: scaleX(-1) translateX(5px);
  transition: transform 0.3s ease-in-out;
}


#next-video-button:hover {
  cursor: pointer;
  transform: translateX(5px);
  transition: transform 0.3s ease-in-out;
}


iframe {
  width: 50%;
  height: auto;
  aspect-ratio: 4/3;
  border: solid 0.25rem var(--color-text);
  border-radius: 0.15rem;
}


#merch-items-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 14rem;
  padding-inline: 2rem;

}

.merch-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 1rem;
}

.merch-container::before {
  content: '';
  position: absolute;
  top: -20%;
  left: 50%;
  /* center anchor point */
  transform: translateX(-50%);
  /* shift by 50% of element width to center */

  width: 150%;
  height: 100%;
  background-image: url(./public/images/jb-merch-frame.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;

  z-index: 1;
}

.merch-container::after {
  content: '';
  position: absolute;
  bottom: -60%;
  left: 50%;
  /* center anchor point */
  transform: translateX(-50%);
  /* shift by 50% of element width to center */
  width: 150%;
  height: 100%;
  background-image: url(./public/images/jb-merch-frame-2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;

  z-index: -1;
}

.merch-container img {
  width: 15rem;
  height: auto;
  object-fit: cover;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  gap: 3rem;

}

form textarea {
  position: relative;
  font-family: NormalText;
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: var(--text-font-size);
  resize: none;
  background-color: #eee7d7;
  overflow: hidden;
  border: solid 0.35rem black;
  border-radius: 0.15rem;


}




::placeholder {
  font-family: NormalText;
  color: black;

}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  font-family: NormalText;
  color: black;

}