@font-face {
  font-family: TitleCursive;
  src: url(./public/fonts/Babylonica-Regular.ttf);
}

:root {
  --color-text: #FFFFF0;
  --header-font-size: 7rem;
  --text-font-size: 3.5rem;
}

html {
  font-size: 16px;

}

body {
  background-image: url(./public/images/background.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: TitleCursive;
  font-size: var(--header-font-size);
  text-align: center;
  color: var(--color-text);

}




section {
  position: relative;
  min-height: 100vh;
}




#intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;

}

#logo-container {
  position: relative;

  text-align: center;
  width: 35%;
}

#logo-container img {
  max-width: 100%;

}

#logo-container span {
  position: absolute;
  top: 65%;
  left: 65%;
  font-size: 3.5rem;
  color: var(--color-text);
  font-family: TitleCursive;
}


#jb-title {
  width: 40%;
}




#album-cover {
  position: absolute;
  bottom: 0;
  max-width: 75%;
  height: auto;
  object-fit: cover;


}