@font-face {
  font-family: TitleCursive;
  src: url(./public/fonts/Babylonica-Regular.ttf);
}

@font-face {
  font-family: NormalText;
  src: url(./public/fonts/IMFellDWPica-Regular.ttf);
}

:root {
  --color-text: #FFFFF0;
  --header-font-size: 7rem;
  --text-font-size: 1.75rem;
}

html {
  font-size: 16px;
  color: var(--color-text);
}

body {
  background-image: url(./public/images/background.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

h1 {
  font-family: TitleCursive;
  font-size: var(--header-font-size);
  text-align: center;


}




section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}




#intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;

}

#logo-container {
  position: relative;

  text-align: center;
  width: 35%;
}

#logo-container img {
  max-width: 100%;

}

#logo-container span {
  position: absolute;
  top: 65%;
  left: 65%;
  font-size: 3.5rem;
  color: var(--color-text);
  font-family: TitleCursive;
}


#jb-title {
  width: 40%;
}




#album-cover {
  position: absolute;
  bottom: 0;
  max-width: 75%;
  height: auto;
  object-fit: cover;


}

button,
p {
  font-family: NormalText;

}

button {
  position: relative;
  background-color: transparent;
  color: var(--color-text);
  border: none;
  font-size: var(--text-font-size);
  cursor: pointer;

  padding: 1.5rem;
  transition: 1s;
  z-index: 0;
}

button::before {
  content: '';
  position: absolute;


  left: 0;
  right: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  transform: translateY(-40%);
  background: url(./public/images/buttonBorder.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

/* 
#tour-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
} */

.tour-info {
  font-size: var(--text-font-size);
  font-family: NormalText;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  width: 85%;
}

#tour-section {
  gap: 2rem;
}

#tour-section img {
  width: 50%;
  justify-self: center;
}